@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* theme color */
*{
    color: rgb(130, 130, 130);
}

/* text format */
h1{
    font-family: 'Varela Round';
    color: #00ffff;
}

/* general */
body, html {
    background-color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

main {
    flex: 1; /* This will make the main content take up available space */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}