@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/VarelaRound-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html{
    background-color: #000000;
}

/* theme color */
*{
    color: rgb(130, 130, 130);
}

/* text format */
h1{
    font-family: 'Varela Round';
    color: #ff00e6;
}
