.FlightsLogTablePage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}


/* table foramt */
th{
    border: 1px solid;
    color: rgb(200, 200, 200);
    border-color: rgb(154, 154, 154);
}

td{
    border: 1px solid;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

th {
    background-color: rgb(100, 100, 100);
}


/* buttons */
.tableButtons{
    color: black;
    border-color: black;
    background-color: #00ffff;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.tableButtons:hover{
    background-color: rgb(200, 200, 200);
}


/* table edit */
.addRowInputs{
    padding-left: 5px;
    padding-right: 5px;
    width: 70px;
    height: 13px;
    margin-right: 10px;
}

.FlightsLogTableSelectInput{
    margin-right: 10px;
}

.FlightsLogTableBar{
    margin-bottom: 10px;
}

.FlightsLogTableDeleteButton{
    color: rgb(200, 200, 200);
    background-color: rgb(100, 100, 100);
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.FlightsLogTableDeleteButton:hover{
    background-color: #00ffff;
    color: black;
}