.footer {
    background-color: #00ffff;
    text-align: center;
    position: relative;
    width: 100%; /* Full width */
    height: 20px;
    margin-top: 20px;
}

.footerText {
    color: black;
    font-size: 14px;
}