.registerPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: #ff00e6;
    border-width: 1px;
    border-radius: 15px;
    padding: 30px;
}

.inputField , .SubmitRegister{
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.registerInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.SubmitRegister{
    cursor: pointer;
    background-color: #ff00e6;
    color: white;
    border: none;
    transition: background-color 0.3s ease;    
}
.SubmitRegister:hover {
    background-color: rgb(100, 100, 100);
}