.newLogin{
    background-color: #ff00e6;
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
}
.newLogin:hover {
    background-color: rgb(100, 100, 100);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
